@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: lofi) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* wyodrębnić ponizsze */

/* carousel */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-130%);
  }
}

.animate-scroll {
  animation: scroll 80s linear infinite;
}

/* shiny logo */
/* .shiny-logo {
  background: linear-gradient(90deg, #a0e4e0, #f2ca94, #a0e4e0);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */

.shiny-logo {
  background: linear-gradient(120deg, #2ea099, #a52e8d, #2ea099);
  background-size: 200% 100%;
  background-position: 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* shiny btn */
.shiny-btn {
  background: rgb(160, 228, 224);
  background: linear-gradient(
    90deg,
    rgba(160, 228, 224, 1) 18%,
    rgba(242, 202, 148, 1) 95%
  );
}

/* efekt zanikania mail alert */
#alert-component {
  transition: opacity 3s ease-out;
}

.fade-out {
  opacity: 0;
}

/* style edytora Quill */
.ql-toolbar {
  border-radius: 1rem 1rem 0 0;
}

.ql-container {
  border-radius: 0 0 1rem 1rem;
  min-height: 100px;
}

.ql-toolbar .ql-formats .ql-fill,
.ql-toolbar .ql-formats .ql-stroke {
  stroke: white;
}

.ql-toolbar .ql-formats .ql-picker-label {
  color: white;
}

.divider-multicolor-single::after {
  background: linear-gradient(320deg, #f2ca94, #602197);
}

.divider-multicolor-double::after {
  background: linear-gradient(120deg, #f2ca94, #602197);
}
.divider-multicolor-double::before {
  background: linear-gradient(300deg, #f2ca94, #602197);
}

.menu a:active {
  background-color: unset !important;
}

@keyframes float-0 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-8px);
  }
}
@keyframes float-1 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(9px);
  }
}
@keyframes float-2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes float-3 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(7px);
  }
}
@keyframes float-4 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6px);
  }
}
@keyframes float-5 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(8px);
  }
}
@keyframes float-6 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-7px);
  }
}
@keyframes float-7 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(11px);
  }
}
@keyframes float-8 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-8px);
  }
}
@keyframes float-9 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
@keyframes float-10 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-9px);
  }
}
@keyframes float-11 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(8px);
  }
}
@keyframes float-12 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-7px);
  }
}
@keyframes float-13 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(6px);
  }
}
@keyframes float-14 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-11px);
  }
}

.react-datepicker__input-container {
  display: flex !important;
  align-items: center !important;
}

.react-datepicker__calendar-icon {
  padding-left: 1rem !important;
}
